html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;


}

.container {
    height: 100%;
    width: 100%;
    display: flex;

}



.left {
    width: 50%;
    height: 100%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;



    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;

    padding-left: 50px;

    background-color: rgb(105, 105, 192);
}

.left>h1 {
    font-size: 50px;
    color: #ffffff;
    margin-top: 0;

}

.right {
    width: 60%;
    height: 100%;
    padding: 6px 5px;
    display: flex;
    flex-direction: column;


    background-color: rgb(81 99 184);
}

input {
    width: 184px;
    height: 24px;
    margin-bottom: 30px;
    margin-top: 4px;
    border: solid 1px gray;
    border-radius: 14px;
    padding-left: 10px;
}

textarea {
    width: 184px;
    margin-top: 4px;
    border: solid 1px gray;
    border-radius: 10px;
    padding-left: 10px;
}

.btn1 {
    width: 204px;
    margin-top: 14px;
    margin-bottom: 0;
    border-radius: 14px;
    text-align: center;
    color: #ffffff;
    background-color: rgb(66, 66, 250);
}

.btn1:hover {
    color: black;
    background-color: chocolate;
}



#todos {
    margin: 10px;
}

.todo {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 12px;

    transition: transform 0.2s ease;
}

.todo:hover {
    transform: scale(1.2);

    background: linear-gradient(356deg, rgba(2, 0, 36, 1) 0%, rgba(23, 23, 135, 1) 0%, rgba(0, 212, 255, 1) 100%);
}



.todo-actions {
    display: flex;
    gap: 25px;

}

.todo>h3 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
}

.todo>p {
    font-size: 16px;
    color: #333;
    font-weight: 700;
    margin-bottom: 20px;
}

.btn-2 {
    width: 145px;
    border-radius: 15px;
    background-color: rgb(209, 67, 16);
    color: black;
    border: 0px solid;
    cursor: pointer;
}

.btn-3 {
    width: 145px;
    border-radius: 15px;
    background-color: #d41629;
    color: black;
    border: 0px solid;
    cursor: pointer;
}