html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: blueviolet;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    width: 720px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 8px;
    position: fixed;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
}

.btn {
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #112233;
    color: #ffffff;
    padding: 8px 16px;
    cursor: pointer;
}