<<<<<<< HEAD
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background-color: rgba(144, 238, 144, 0.521);

}

h1 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
}

.card {
    width: 400px;
    height: 450px;
    background-color: white;
    padding: 10px;
    border-radius: 24px;
    position: relative;
    top: 40px;
    left: 470px;

}

span {
    color: #FF6700;
}

h2,
p {
    display: flex;
    justify-content: center;

}

.inputs {
    margin: 10px;
    width: 370px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid rgba(128, 128, 128, 0.527);
}

.forgot {
    position: relative;
    right: 130px;
    color: #FF6700;

}

.button {
    background-color: #0C6FF9;
    color: white;
    width: 390px;
    height: 40px;
    position: fixed;
    bottom: 170px;
    border-radius: 24px;
    border: none;
    position: relative;
    top: 8px;
}

.card1,
.card2,
.card3,
.card4 {
    width: 80px;
    height: 50px;
    position: relative;
    top: 15px;
    margin: 5px;
    border-radius: 24px;
    background-color: rgba(128, 128, 128, 0.158);
    display: inline-block;

}

.log {
    position: relative;
    color: #323233;
    top: 15px;
    display: flex;
    justify-content: center;
=======
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background-color: rgba(144, 238, 144, 0.521);

}

h1 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
}

.card {
    width: 400px;
    height: 450px;
    background-color: white;
    padding: 10px;
    border-radius: 24px;
    position: relative;
    top: 40px;
    left: 470px;

}

span {
    color: #FF6700;
}

h2,
p {
    display: flex;
    justify-content: center;

}

.inputs {
    margin: 10px;
    width: 370px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid rgba(128, 128, 128, 0.527);
}

.forgot {
    position: relative;
    right: 130px;
    color: #FF6700;

}

.button {
    background-color: #0C6FF9;
    color: white;
    width: 390px;
    height: 40px;
    position: fixed;
    bottom: 170px;
    border-radius: 24px;
    border: none;
    position: relative;
    top: 8px;
}

.card1,
.card2,
.card3,
.card4 {
    width: 80px;
    height: 50px;
    position: relative;
    top: 15px;
    margin: 5px;
    border-radius: 24px;
    background-color: rgba(128, 128, 128, 0.158);
    display: inline-block;

}

.log {
    position: relative;
    color: #323233;
    top: 15px;
    display: flex;
    justify-content: center;
>>>>>>> 35bd3e544ed856042e477887762799ead17d9d9c
}