 HEAD html,
 body {
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100%;
     box-sizing: border-box;
 }

 .container {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .card {
     width: 40%;
     height: 610px;
 }



 .card img {
     margin-left: 0;
     width: 100%;
     height: 100%;
     overflow: hidden;
 }



 .card1 {
     width: 60%;
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 20px;
 }

 .card2 {
     width: 370px;
     padding: 5px;
 }

 .welcome {
     font-size: 24px;
     margin: 0px;
 }

 p {
     margin: 5px;
 }

 .mail {
     font-size: 14px;
     margin-bottom: 5px;
     margin-top: 40px;
     font-weight: 14px;
 }

 .input {
     width: 360px;
     height: 30px;
     border-radius: 6px;
     margin: 0;
     padding-left: 10px;
     background-color: #777e902c;
     border: none;
     color: #777E90;
 }

 .input:hover {
     color: black;
 }

 .pack {
     margin-top: 20px;
 }

 .password:hover {
     color: black;
 }

 .password {
     width: 360px;
     height: 30px;
     border-radius: 6px;
     margin: 0;
     padding-left: 10px;
     background-color: #777e9034;
     border: none;
     color: #777E90;
 }

 .forgot {
     text-decoration: none;
     font-size: 11px;
     display: flex;
     justify-content: flex-end;
     color: #FF0000;
 }

 .button {
     background-color: #FF0000;
     color: white;
     width: 365px;
     height: 35px;
     margin-top: 20px;
     border-radius: 18px;
     border: none;
 }

 .account {
     font-size: 10px;
     width: 365px;
     height: 28px;
     text-align: center;
     margin-top: 20px;
 }

 .images {
     display: flex;
     justify-content: center;
     gap: 15px;
     margin-top: 20px;
 }

 .images img {
     border-radius: 50%;
     cursor: pointer;
     transition: transform 0.3s;
 }

 .images img:hover {
     transform: scale(1.2);
 }

 .photo,
 .photo2,
 .photo1 {
     border-radius: 50%;
 }

 span {
     color: black;
 }

 .sign {
     margin-top: 15px;
     text-align: center;
 }