<<<<<<< HEAD
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.container {
    position: fixed;
    top: 10%;
    left: 80%;
}

.card {
    width: 350px;
    height: 330px;
    position: fixed;
    right: 50px;
    border: 2px solid grey;
    border-radius: 3px;
    padding: 5px;
}

.card1 {
    width: 40%;
    height: 100%;
    background-color: blue;
}

.email {
    width: 345px;
    height: 25px;
    border-radius: 8px;
    border: 2px solid rgba(128, 128, 128, 0.411);
}

.password {
    color: blue;
    position: fixed;
    bottom: 220px;

}

.button {
    background-color: blue;
    color: white;
    width: 345px;
    height: 28px;
    position: fixed;
    bottom: 170px;
    border-radius: 8px;
    border: none;
}

.account {
    position: fixed;
    bottom: 120px;
    right: 120px;

}

span {
    color: blue;
=======
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    position: fixed;
    top: 10%;
    left: 80%;
}

.card {
    width: 350px;
    height: 330px;
    position: fixed;
    right: 50px;
    border: 2px solid grey;
    border-radius: 3px;
    padding: 5px;
}

.card1 {
    width: 40%;
    height: 100%;
    background-color: blue;
}

.email {
    width: 345px;
    height: 25px;
    border-radius: 8px;
    border: 2px solid rgba(128, 128, 128, 0.411);
}

.password {
    color: blue;
    position: fixed;
    bottom: 220px;

}

.button {
    background-color: blue;
    color: white;
    width: 345px;
    height: 28px;
    position: fixed;
    bottom: 170px;
    border-radius: 8px;
    border: none;
}

.account {
    position: fixed;
    bottom: 120px;
    right: 120px;

}

span {
    color: blue;
>>>>>>> 35bd3e544ed856042e477887762799ead17d9d9c
}