<<<<<<< HEAD
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}



.sun {
    position: relative;
    top: 20px;
    left: 40px;

}

ul {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 20px;
    left: 10px;
}

button {
    position: relative;
    top: 20px;
    right: 30px;
    width: 100px;
    height: 44px;
    border: none;
    border-radius: 90px;
    background-color: blue;
    color: white;
}

h1,
h2 {
    position: relative;
    top: 70px;
    left: 90px;
    font-size: 30px;
}

.hello {
    width: 300px;
    height: 60px;
    font-size: 12px;
    position: relative;
    top: 70px;
    left: 90px;
}

.connect {
    position: relative;
    top: 70px;
    left: 90px;
}

.links {
    display: flex;
    width: 300px;
    height: 30px;
    position: relative;
    top: 70px;
    left: 90px;
}

.link {
    position: relative;
    left: 120px;

}

.contact {
    position: relative;
    top: 50px;
    right: 120px;
    height: 44px;
    border: none;
    border-radius: 90px;
    background-color: blue;
    color: white;

}

img {
    position: relative;
    bottom: 300px;
    left: 670px;

=======
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}



.sun {
    position: relative;
    top: 20px;
    left: 40px;

}

ul {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 20px;
    left: 10px;
}

button {
    position: relative;
    top: 20px;
    right: 30px;
    width: 100px;
    height: 44px;
    border: none;
    border-radius: 90px;
    background-color: blue;
    color: white;
}

h1,
h2 {
    position: relative;
    top: 70px;
    left: 90px;
    font-size: 30px;
}

.hello {
    width: 300px;
    height: 60px;
    font-size: 12px;
    position: relative;
    top: 70px;
    left: 90px;
}

.connect {
    position: relative;
    top: 70px;
    left: 90px;
}

.links {
    display: flex;
    width: 300px;
    height: 30px;
    position: relative;
    top: 70px;
    left: 90px;
}

.link {
    position: relative;
    left: 120px;

}

.contact {
    position: relative;
    top: 50px;
    right: 120px;
    height: 44px;
    border: none;
    border-radius: 90px;
    background-color: blue;
    color: white;

}

img {
    position: relative;
    bottom: 300px;
    left: 670px;

>>>>>>> 35bd3e544ed856042e477887762799ead17d9d9c
}