html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header {
  background-color: blueviolet;
  height: 48px;
  position: sticky;
  top: 0;
  left: 0;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  width: 50%;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
  padding: 32px;
}

p {
text-align: justify;
line-height: 1.4;
}

.contact-us {
    width: 42px;
    height: 42px;
    background-color: orangered;
    display: inline-block;
    position: fixed;
    bottom: 32px;
    right: 32px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 20px;
    height: 20px;
}