html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}

.details {
    width: 100%;
    height: 50%;

}

.details>img {
    width: 70px;
    height: 70px;
    margin-top: 65px;
    margin-left: 82px;
}

.text {
    margin-left: 95px;
}

.text>h1 {
    font-size: 95px;
    font-weight: bold;
    color: #304258;
    margin: 0;
    margin-top: 20px;
}

.text>p {
    font-size: 18px;
    font-weight: 300;
    color: #6E7885;
    margin: 0;
}

.avatar {
    width: 100%;
    height: 46%;
    background-color: #f2f3f2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.image {
    width: 170px;
    height: 170px;
    background-color: #6E7885;
    border-radius: 50%;
    margin-top: 80px;
    margin-left: 90px;

}

.image>img {
    width: 76%;
    height: 81%;
    padding-top: 6px;
    padding-left: 21px;
    object-fit: cover;

}

.text1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 116px;
    margin-right: 865px;
}

.text1>h1 {
    font-size: 30px;
    font-weight: bold;
    color: #304258;
    margin: 0;
}

.text1>p {
    font-size: 20px;
    font-weight: 300;
    color: #6E7885;
    margin: 0;
}