html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}

img {
    margin-top: 50px;
    margin-left: 50px;
    width: 61px;
    height: 61px;
}

.intro {
    margin-left: 77px;
    margin-top: 100px;
    width: 55%;
    height: 219px;
    display: flex;
    flex-wrap: wrap;
}

.intro>p {
    font-size: 28px;
    margin: 0;
    color: #304258;
    font-weight: 200;
    height: 41px;
}

.intro>h1 {
    font-size: 84px;
    color: #304258;
    font-weight: bold;
    margin: 0;
    height: 560px;
    line-height: 1;

}

.arrow {
    width: 501px;
    height: 417px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow>img {
    width: 100%;
    margin-top: 55px;
    margin-left: 440px;
}

.end {
    display: flex;
    margin-left: 58px;
    margin-right: 72px;
    width: 100%;
    justify-content: space-between;
    color: #898989;
    font-size: 14px;
}