html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
}

header>p {
    color: #6E7885;
    font-size: 30px;
    margin-left: 50px;
}

img {
    margin-top: 20px;
    margin-right: 40px;
    width: 40px;
    height: 40px;

}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.details>h1 {

    font-size: 75px;
    font-weight: bold;
    color: #304258;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 40px;
}

.details>img {
    width: 810px;
    height: 180px;
}

.end {
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 90px;
    justify-content: space-between;
    color: #898989;
    font-size: 14px;
}