html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
}

img {
    margin-top: 20px;
    margin-right: 20px;
    width: 50px;
    height: 50px;
}

.details>p {
    color: #6E7885;
    font-size: 30px;
    margin-left: 50px;
}



.details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 70%;
    height: 100%;
    margin-left: 32px;

}

.intro {
    width: 465px;
    height: 240px;
    margin-left: 35px;

}


.intro>h1 {
    color: #304258;
    font-size: 90px;
    font-weight: bold;
    margin: 0;
    line-height: 1;
    margin-bottom: 15px;
}

.intro>h3 {
    color: #304258;
    font-size: 28px;
    margin: 0;
    font-weight: 300;

}

.about {
    width: 533px;
    height: 565px;

    display: flex;
    margin-top: 116px;
    flex-direction: column;


}

.about>p {
    font-size: 23px;
    font-weight: 200;
    color: #6E7885;
    margin: 0;
    margin-bottom: 30px;
}

.about>h2 {
    font-weight: bold;
    font-size: 32px;
    margin: 0;


}



.frame1,
.frame2 {
    width: 400px;
    height: 76px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    line-height: 2;

}

.frame1>h3 {
    font-size: 22px;
    font-weight: 600;
    color: #6E7885;
    margin: 0;
    margin-top: 12px;
}

.frame2>h3 {
    font-size: 22px;
    font-weight: 600;
    color: #6E7885;
    margin: 0;
    margin-top: 12px;

}

.frame1>p {
    font-size: 16px;
    font-weight: 300;
    color: #6E7885;
    margin: 0;
    margin-left: 69px;
    margin-bottom: 8px;
    line-height: 0;

}

.frame2>p {
    font-size: 16px;
    font-weight: 300;
    color: #6E7885;
    margin: 0;
    margin-left: 69px;
    margin-bottom: 8px;
    line-height: 0;

}

.frame1>img,
.frame2>img {
    width: 50px;
    height: 50px;
}

.social {
    width: 420px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 20px;
    height: 10%;
    margin-top: 8px;


}

.social>a {
    margin: 0;
    color: #6E7885;
    font-size: 14px;
    width: 72px;

}

.avatar {
    background-color: #F2F3F2;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}



.logo {
    display: flex;
    justify-content: end;

}

.logo>img {
    width: 50px;
    height: 50px;

}

.ava {
    display: flex;
    display: flex;

    justify-content: center;
    margin-top: 275px;
    width: 100%;

}

.ava>img {
    margin-top: 20px;
    margin-right: 20px;
    width: 300px;
    height: 329px;
}