html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #ffffff;
    padding: 10px 30px;
    border-radius: 8px;
    width: 90%;
    height: 50px;
    margin: 20px 60px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 18px;
    font-weight: 600;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #27ae60;
}

#home {
    width: 100%;
    height: 100%;
}

.home {

    padding: 60px 20px;
}

.home h1 {
    font-size: 78px;
    font-weight: bold;
    line-height: 1.4;
    margin-left: 45px;
    margin-top: 80px;
}

.home span {
    color: #27ae60;
}

#about {
    width: 100%;
    height: 100%;
}

#about img {
    width: 250px;
    height: 200px;
    margin-left: 60px;

}