.container{
    width: 100%;
    height: 100%;
    background-color:lightgray
}
.col{
    margin-bottom: 5px;
    margin-top: 5px;
}
.card{
    background-color: white;
    height: 290px;
    border-radius: 20px;
}
.sales,.order,.pro-sold,.customers{
    height: 150px;
    border-radius:20px ;
    margin-top: 100px;
    margin-right: 5px;
}
.sales{
background-color: lightpink;
}
.order{
background-color: lightsalmon;
}
.pro-sold{
background-color: lightgreen;
}
.customers{
background-color:rgb(153, 86, 153);
}
