.container{
    width: 100%;
    height: 100%;
    background-color:lightgray
}
.card{
    background-color: white;
}
.col{
  margin-bottom: 5px;
  margin-top: 5px;
}
.french,.protugese,.italian,.german{
    border-radius: 20px;
    height: 220px;
}
.french{
    background-color: skyblue;
}
.protugese{
    background-color: orange;
}
.italian{
    background-color: green;
}
.german{
 background-color: yellow;
}
.planning{
    height: 140px;
    border-radius: 20px;
    background-color: lightgrey;
}
.stat{
    height:250px;
    background-color: lightskyblue;
    border-radius: 20px;
}
.activity{
    border-radius: 20px;
    background-color: lightskyblue;
    height: 380px;
}
