html,
body {
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    background-color: black;
}

.container {
    padding: 32px;
}

.col {
    margin-bottom: 10px;
}

.views,
.visits,
.new-user,
.active-user {
    height: 200px;
    border-radius: 20px;
}

.views {
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.visits {
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.new-user {
    background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
}

.active-user {
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}

.menu, .navigation {
    height: 500px;
    border-radius: 20px;
}

.menu {
    background-color: #9890e3;
}

.navigation {
    background-color: #ff4e50;
}

.tools {
    background-color: #f9d423;
    height: 100px;
    border-radius: 20px;
}

.emojis {
    background-color: antiquewhite;
    height: 100px;
    border-radius: 20px;
}
.data {
    height: 500px;
    border-radius: 20px;
    background-color: brown;
}
