.container{
    width: 100%;
   height: 100%;
   background-color:lightgray
   }
   .card{
   background-color: white;
   height: 290px;
   border-radius: 20px;
}
.planning,.name,.task,.bar,.add{
  height: 180px;
  background-color:rgb(51, 15, 15)
}