* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  background-color: #f6f8fb;
}
header {
  text-align: center;
}
main {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card {
  width: 472px;
  height: 565.99px;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 41px;
  margin-top: 24px;
}
h1 {
  font-weight: bold;
  font-size: 24px;
  margin-right: 34x;
  margin-left: 36px;
  margin-top: 15px;
  margin-bottom: 1px;
  width: 320px;
  height: 36px;
  text-align: center;
}
.btn {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border-style: solid;
  border-color: #dee4ed;
  background-color: #ffffff;
}
.log {
  background-color: #624de3;
  border-color: #4938c3;
  color: white;
}
.start {
  width: 40px;
  height: 40px;
  padding: 10px 10px;
  margin: auto;
  display: flex;
}
.caption {
  margin-right: 15.79x;
  margin-left: 15.21px;
  margin-top: 15px;
  margin-bottom: 0.98px;
  font-size: 14px;
  color: #788ba5;
  font-size: medium;
  width: 362px;
  height: 20px;
  text-align: center;
}
.login {
  margin-top: 24px;
}
.or {
  margin-top: 23.5px;
  text-align: center;
  position: relative;
}
.email {
  margin-top: 24px;
  margin-bottom: 0.98px;
}
.field1,
.field2 {
  margin-top: 8px;
  margin-bottom: 24px;
  padding-left: 13px;
}
p > span {
  color: #117df9;
}
.pswd {
  display: flex;
  justify-content: space-between;
  margin: 0%;
  padding: 0%;
}
.pswd > span {
  color: #117df9;
}
.account {
  padding-top: 23px;
}
