main {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0%;
  padding: 0%;
}
.left-card-board {
  width: 40%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.right-card-board {
  width: 60%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
.btn {
  width: 352px;
  height: 32px;
  border: none;
  border-radius: 8px;
}
.flex {
  display: flex;
  flex-direction: row;
}
.flex > span {
  display: flex;
  justify-content: right;
}
.bg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
h1 {
  padding: 8px 66px;
  font: bold;
  font-size: 23px;
}
.sign {
  margin: 24px 0px;
  color: #455eed;
  border-color: #455eed;
  border: solid;
  background-color: white;
}
.or {
  margin-bottom: 24px;
}
.sign2 {
  margin-top: 24px;
  color: white;
  background-color: #a7a5a5;
}
.email {
  margin-bottom: 16px;
  background-color: #f6f6f6;
  padding-left: 9px;
}
.pswd {
  margin-bottom: 16px;
  background-color: #f6f6f6;
  padding-left: 9px;
}
.create {
  padding-top: 295.5px;
  padding-bottom: 48px;
}
label > span {
  padding-left: 124px;
  text-decoration: underline;
  color: #455eed;
  text-underline-offset: 4px;
}
p > span {
  color: #455eed;
}
.imgs {
  padding-bottom: 289px;
}
