body {
  background-color: #e9f5f5;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}
header {
  text-align: start;
  padding-left: 39.66px;
  padding-top: 26.78px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0%;
  margin: 0%;
}
.container {
  background-color: #fdfdfd;
  width: 500px;
  height: 731.63px;
  border-radius: 24px;
  padding: 40px;
  margin: 0%;
}
h1 {
  font-weight: 420px;
  font-size: 26px;
  height: 85px;
  margin: 0%;
  padding-bottom: 12;
  text-align: center;
  row-gap: 5.5px;
}
.btn {
  width: 100%;
  height: 44px;
  border-radius: 50px;
  text-align: center;
  margin: 8px 0px;
  background-color: rgb(104, 111, 125 00.6);
  border: none;
}
.continue {
  background-color: #1668e3;
  color: #fdfdfd;
  margin-top: 10px;
}
.people {
  display: flex;
  width: 420px;
  height: 134.33px;
  font-size: 14px;
  padding: 16px 32px;
  background-color: #f6f7f9;
  column-gap: 40px;
  color: #5e646e;
  line-height: 22.4px;
  justify-content: space-between;
}
.bg {
  width: 90px;
  height: 102.23px;
}
.condition > span {
  text-decoration: underline;
}
.condition {
  color: #6a707c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 16px;
}
.txt {
  width: 100%;
  height: 44px;
  margin: 8px 0px;
  border-radius: 50px;
  margin-bottom: 10px;
  padding-left: 20px;
  border: solid rgb(116, 124, 132);
}
.join {
  text-align: center;
  margin-top: 15.5px;
  color: #6a707c;
}
.join > span {
  text-decoration: underline;
}
.underline {
  text-align: center;
  -moz-text-decoration-line: underline;
}
