.container {
  background-color: black;
  width: 100%;
  height: 100%;
}
.login {
  display: flex;
align-items: center;
justify-content: center;
}
.heading {
  color: white;
}
.another {
  color: white;
}
.account {
  color: rgb(28, 210, 28);
  text-decoration: underline;
  text-underline-offset: 4px;
}
.credentials {
  border: 2px;
  background-color: rgb(19, 18, 18);
  height: 500px;
  width: 300px;
}
.Email {
  color: white;
}
.Password {
  color: white;
}
.signup {
  color: black;
  background-color: rgb(28, 210, 28);
}
