* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-wrap: wrap;
}
.left-card {
  width: 50%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 384px;
  height: 657.05px;
  background-color: #ffffff;
}
h1 {
  text-align: center;
  margin-bottom: 46px;
}
.btn {
  width: 100%;
  height: 40px;
  border-radius: 12px;
  border-style: solid;
  border-color: #dadce0;
  background-color: #ffffff;
  color: #171717;
}
.sign {
  padding: 13px 1px;
  text-align: center;
  border-radius: 4px;
  color: #3c4043;
}
.or {
  margin-top: 8px;
  margin-bottom: 8px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.First {
  width: 50%;
  padding-left: 17px;
}
.last {
  padding-left: 17px;
  width: 50%;
  margin-bottom: 23.09px;
}
.email {
  padding-left: 17px;
  margin-bottom: 24px;
}
.pswd {
  padding-left: 17px;
  margin-bottom: 24px;
}
.check1 {
  width: 100%;
  height: 24px;
  font-size: 18px;
  margin-bottom: 8px;
}
.check2 {
  width: 100%;
  height: 24px;
  font-size: 18px;
}
label {
  padding-left: 12px;
}
.create {
  margin-top: 40px;
  color: #ffffff;
  background-color: #0890ff;
  border-color: #0890ff;
}
.right-card {
  width: 50%;
  height: 100%;
  margin-bottom: 23.09px;
  background-color: black;
}
.existing {
  margin-top: 31.99px;
}
p {
  text-align: center;
}
label > span {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.img {
  width: 100%;
  height: 100%;
}
