* {
  box-sizing: border-box;
}
main {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-wrap: wrap;
}
.card-right {
  width: 50%;
  height: 100%;
}
.imgg {
  width: 100%;
  height: 100%;
}
.card {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 80px;
  padding-left: 80px;
}
.card-left {
  width: 100%;
  height: 496px;
  border-radius: 24px;
  border: solid;
  padding: 40px 60px;
}
.img {
  margin-bottom: 60px;
}
.btn {
  width: 100%;
  height: 44px;
  border-radius: 8px;
}
h1 {
  margin-bottom: 24px;
  margin-top: 0%;
}
.label {
  margin-top: 6px;
  margin-bottom: 24px;
  padding-left: 14px;
}
.fp {
  color: #1849a9;
  margin: 0%;
  margin-bottom: 40px;
}
.sign {
  margin-bottom: 40px;
  color: white;
  background-color: #175cd3;
}
.signup {
  text-align: center;
  margin: 0%;
}
.signup > span {
  color: #1849a9;
  font-weight: bold;
}
