* {
  box-sizing: border-box;
}
body {
  background-color: #d7f1f1;
  width: 100%;
  height: 100%;
  background-image: url(/imgs/Mask\ group.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  padding: 0%;
  margin: 0%;
  /* background-size: cover; */
  background-size: 933.33px 494.67px;
}
.img {
  display: block;
  margin: auto;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
  padding: 0%;
}
h1 {
  text-align: center;
  margin: 0%;
}
.new {
  text-align: center;
  margin-bottom: 16px;
}
.new > span {
  color: #ff6700;
}
.card {
  width: 608px;
  height: 530px;
  background-color: #ffffff;
  padding: 24px;
}
#email {
  width: 100%;
  height: 58px;
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 16px;
  border: solid;
  border-color: #dad7d5;
}
#password {
  width: 100%;
  height: 58px;
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 16px;
  border: solid;
  border-color: #dad7d5;
}
.fp {
  color: #ff6700;
  margin: 0px;
  margin-bottom: 24px;
}
.login {
  width: 100%;
  height: 58px;
  color: white;
  background-color: #0c6ff9;
  border-radius: 24px;
  border-color: #0c6ff9;
  margin-bottom: 16px;
}
.option {
  width: 24%;
  height: 48px;
  border-radius: 24px;
}
.login1 {
  width: 100%;
  height: 58px;
  border-radius: 24px;
  color: #323233;
  text-align: center;
  background-color: #fcf8f6;
  border: solid;
  border-color: #fcf8f6;
  margin-top: 16px;
}
