html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;


}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.login {
    width: 50%;
    height: 100%;
}

.details {

    width: 320px;
    padding-top: 40px;
    padding-left: 161px;
    padding-right: 250px;

}

.details>h1 {
    width: 300px;
    font-size: 40px;
    padding-left: 72px;
}

h1>span {
    padding-left: 24px;
}

.details>input {
    width: 259px;
    height: 29px;
    padding-left: 145px;
    border: solid 2px;
    border-color: #E8E8E8;
}

.details>p {
    padding-left: 194px;
    font-weight: 500;
}

.details2 {
    display: flex;
    column-gap: 15px;
    padding-left: 158px;
    width: 175px;

}

.details2>input {
    width: 186px;
    height: 6px;
    border-radius: 10px;
    border: solid 2px;
    border-color: #E8E8E8;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 17px;
    padding-bottom: 17px;
}

.details3 {
    padding-left: 161px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
}

.details3>input {
    width: 375px;
    height: 6px;
    border-radius: 10px;
    border: solid 2px;
    border-color: #E8E8E8;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 17px;
    padding-bottom: 17px;
}

.check {
    width: 345px;
}

.check>input {
    margin-right: 12px;
}

.check>span {
    text-decoration: underline;
}

.button {
    background-color: #0890FF;
    width: 412px;
    margin-top: 40px;
    height: 40px;
    border: none;
    border-radius: 6px;
    color: #ffff;
    font-weight: 500;
}

.check>h4 {
    padding-left: 132px;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 600;
}

.img {
    width: 50%;
    height: 100%;
    background-color: #000000;
}

.img>img {
    width: 100%;
    height: 100%;
}