html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    padding-top: 100px;
}

.login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


h1 {
    color: #4c4b4b;
    height: 10px;
    text-align-last: center;

}


.card {
    width: 350px;
    height: 400px;
    background-color: #ffffff;
}

h3 {

    font-weight: bolder;
    color: black;
    padding-left: 60px;
    padding-top: 15px;

}

p {

    padding-left: 15.21px;
    padding-right: 15.79px;
    padding-bottom: 30px;
    font-size: small;
    color: #a69f9f;
    padding-left: 50px;
}

input {
    width: 350px;
    height: 30px;
    background-color: white;
    border-style: solid;
    border-color: #4c4b4b;
    border-radius: 5px;

}

h4 {
    font-weight: 600;
    height: 0;

}

.pass p {
    display: flex;
    color: #1274ed;
    justify-content: flex-end;
}

.log input {
    background-color: #6e05d0;
    display: flex;
    justify-content: center;
    color: white;
}