html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    box-sizing: border-box;
    overflow: hidden;
}



.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;



}

h1 {
    margin: 0;
    margin-bottom: 10px;
    padding-left: 50px;
    width: 100%;
}

header {

    display: flex;
    justify-content: end;

    background-color: #000;
}

.a1 {
    background-color: #00CB18;
    color: #000000;
    border-radius: 16px;
    width: 50px;
    height: 24px;
    padding-left: 22px;
    padding-top: 9px;
    padding-bottom: 8px;
    padding-right: 16px;
    margin-right: 10px;
    font-weight: bold;


}

.sign {
    color: white;

    width: 308px;
    height: 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sign>span {
    color: white;
    font-size: 16px;

}

.create {
    text-decoration: underline;
    color: #00CB18;
    margin-bottom: 20px;

}

.details {
    width: 510px;
    height: 487px;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.card {
    background-color: #141414;
    right: 120px;
    height: 325px;
    border-radius: 10px;
    border-color: #242424;
    padding-left: 41px;
    padding-right: 41px;
    padding-top: 41px;
    padding-bottom: 21px;
}

.card>input {
    background-color: #202124;
    border-radius: 10px;
    width: 418px;
    height: 50px;
    margin-top: 6px;
    margin-bottom: 45px;
    border: solid 1px #3d3d3d;
}



.card>span {
    color: #00CB18;
    margin-left: 211px;
}



.button>input {
    background-color: #00CB18;
    color: #000000;
    padding-left: 183.7px;
    padding-right: 184.3px;
    padding-top: 13.9px;
    padding-bottom: 16.1px;
    border-radius: 10px;
    border: none;
    margin-bottom: 26px;
    width: 422px;
    height: 54px;
    font-weight: bold;
}

.box {
    /* width: 100%;
    height: 311px; */

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 45px;
    color: #9AA0A6;
    column-gap: 50px;
}

.card1>span {
    color: white;
}


.card2>span {
    color: white;
}

nav {
    display: flex;
    column-gap: 20px;

}

.a {
    color: #9AA0A6;
    margin-top: 10px;

}