html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    cursor: pointer;
    column-gap: 24px;
    background-color: white;
    flex-direction: column;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 30%;
    position: absolute;
    top: 10%;
    left: 21%
}

.login {

    height: 344px;
    padding-left: 240px;
    padding-right: 160px;
    position: relative;
    top: 270px;

}

h2 {
    padding-left: 48px;
    padding-bottom: 24px;
}

.login>input {

    height: 34px;
    background-image: url(./image/Img.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 16px;
    border-radius: 8px;
    background-color: white;
    padding-left: 108.71px;
    padding-right: 108.29px;
    padding-top: 7.5px;
    padding-bottom: 8px;
    color: #455EED;
}

.details {
    width: 352px;
    height: 120px;
    position: relative;
    top: 44px;
}

.details>input {
    width: 352px;
    height: 32px;
    border-radius: 10px;
    background-color: #f6f6f6;
    border: none;
}

.details1 {
    width: 352px;
    height: 32px;
    position: relative;
    top: 24px;
}

.details1>input {
    font-size: small;
    color: black;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.details1>p {
    color: #455EED;
    position: relative;
    left: 245px;
    bottom: 34px;
    text-decoration: underline;
}

.sign>input {
    width: 352px;
    height: 32px;
    border-radius: 5px;
    background-color: #A7A5A5;
    color: #f6f6f6;
    border: none;
    position: relative;
    top: 44px;
}

.img {
    width: 60%;
}

.img>img {
    width: 86%;
    height: 94%;
}