html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    box-sizing: border-box;
    overflow: hidden;


}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.image {
    width: 50%;
    height: 100%;
}

.image>img {
    width: 100%;
    height: 100%;
}

.login {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.login>img {
    width: 140px;
    height: 40px;
    position: relative;

    top: 90px;
}

.card {
    width: 595px;
    height: 400px;
    border: solid 0.5px;
    border-color: #e0d5d5;
    border-radius: 20px;
    margin-left: 40px;
}

.card>h3 {
    padding-left: 30px;
    padding-top: 10px;
}

.card>p {
    padding-left: 22px;
    color: #344054;
    font-size: 14px;
    font-weight: 400;
}

input {
    width: 528px;
    height: 40px;
    border: solid 0.5px;
    border-color: #e0d5d5;
    border-radius: 10px;
    padding-left: 20px;
    margin-left: 20px;
}

span>p {
    color: #0000ff;
    padding-left: 24px;

    margin-top: 15px;
}

span>input {
    background-color: #3e3ef4;
    color: #ffffff;
    width: 548px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-left: 25px;
}

.account {
    width: 300px;
    padding-left: 195px;
}

p>span {
    color: #0000ff;
}