html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #E4F9F6;
    box-sizing: border-box;
    overflow: hidden;


}

.container {
    width: 100%;
    height: 100%;
}

.image {
    width: 540px;
    height: 545px;
    position: fixed;
    top: 172px;
}

.image>img {
    width: 122%;
    height: 96%;
}

.login {
    width: 650px;
    height: 650px;
    position: relative;
    top: 50px;
    left: 605px;
}

.login>img {
    width: 110px;
    padding-left: 200px;
    margin-bottom: 45px;
}

.card {
    width: 370px;
    height: 395px;
    background-color: #ffff;
    border-radius: 20px;
    padding-left: 168px;
    padding-top: 25px;
}

.card>h2 {
    font-size: 20px;
    font-weight: bold;
    padding-left: 61px;
}

.card>p {
    color: #5A6175;
    font-size: smaller;
}

p>span {
    color: #FF6700;
}

.details {
    width: 508px;
    position: relative;
    right: 150px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
}

.details>input {
    width: 500px;
    height: 40px;
    border: solid 2px;
    border-radius: 5px;
    border-color: #DAD7D5;
    padding-left: 18px;
}

.details>p {
    color: #FF6700;
    font-size: smaller;
    margin: 0;
}

span>input {
    width: 510px;
    height: 40px;
    background-color: #0C6FF9;
    color: #ffff;
    border-radius: 15px;
    border: none;
}

.details>img {
    width: 525px;
    height: 40px;
}

.details>h2 {
    color: #323233;
    font-size: 12px;
    font-weight: bold;
    padding-left: 200px;

}