html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #E9F5F5;
    box-sizing: border-box;
    overflow: hidden;


}

.container {
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    height: 100%;
}

.image>img {
    width: 90%;
    height: 100%;
}

.logo {
    width: 150px;
    height: 50px;

}

.logo>img {
    position: absolute;
    top: 11px;
    left: 20px;
    width: 100px;
}

.card {
    width: 400px;
    height: 590px;
    border-radius: 20px;
    position: absolute;
    left: 550px;
    top: 60px;
    background-color: #ffffff;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    color: #3F434A;
    padding-left: 30px;
}

h2>span {
    padding-left: 99px;
}

input {
    width: 341px;
    height: 40px;
    margin-bottom: 20px;
    background-color: hsl(216deg 17.62% 97.32%);
    border: none;
    padding-left: 20px;
    border-radius: 25px;
    margin-left: 28px;
}

p {
    color: #000000;
    padding-left: 185px;
    margin: 0;
    font-size: 14px
}

.mail>input {

    width: 320px;
    height: 40px;
    margin-bottom: 20px;
    background-color: #ffff;
    color: #d3d3d3;
    border: solid 2px;
    padding-left: 20px;
    border-radius: 25px;
}

span>input {
    width: 342px;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: #ffff;
    background-color: #1668E3;
}

.mail>p {
    color: #6A707C;
    font-size: 12px;
    padding-left: 46px;
}

p>span {
    text-decoration: underline;
}

.dev {

    height: 130px;
    background-color: #F6F7F9;
    border-radius: 15px;
    border: none;
    padding-left: 45px;
    width: 348px;


}

.dev>p {
    font-size: 14px;
    color: #5E646E;
    position: relative;
    right: 195px;
    top: 25px;
    width: 199px;
}

.dev>img {
    position: fixed;
    right: 599px;
    bottom: 70px;
}



.team>p {
    color: #6A707C;
    padding-left: 60px;
    margin-top: 20px;
}