html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
}

.container {
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.col {
    padding: 5px;
    box-sizing: border-box;
}

.views {
    height: 100px;
    background-color: brown;
    border-radius: 10px;
}

.visits {
    height: 100px;
    background-color: blue;
    border-radius: 10px;
}

.active {
    height: 100px;
    background-color: black;
    border-radius: 10px;
}

.new {
    height: 100px;
    background-color: violet;
    border-radius: 10px;
}

.card {
    height: 250px;
    background-color: gray;
    border-radius: 10px;
}

.card1 {
    height: 50px;
    background-color: red;
    border-radius: 10px;
}

.card2 {
    height: 50px;
    background-color: orangered;
    border-radius: 10px;
}

.card3 {
    height: 250px;
    background-color: yellow;
    border-radius: 10px;
}