html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;

}

.col {
    padding: 5px;
    box-sizing: border-box;
    padding-bottom: 0;
}

.earings,
.spend,
.sales,
.balance,
.newtasks,
.projects {
    height: 100px;
    border-radius: 10px;
}

.earings {
    background-color: aqua;
}

.spend {
    background-color: orchid;
}

.sales {
    background-color: blue;
}

.balance {
    background-color: orangered;
}

.newtasks {
    background-color: purple;
}

.projects {
    background-color: crimson;
}

.month {
    height: 240px;
    background-color: darkgoldenrod;
    border-radius: 20px;
}

.weekly {
    height: 240px;
    background-color: darkmagenta;
    border-radius: 20px;
}

.checktable {
    height: 245px;
    background-color: firebrick;
    border-radius: 20px;
}

.daily {
    height: 245px;
    background-color: darkolivegreen;
    border-radius: 20px;
}

.piechart {
    height: 245px;
    background-color: darkslateblue;
    border-radius: 20px;
}