html,
body {
    width: 100%;
    height: 97%;
    margin: 0;
    padding: 0;
    background-color: lightslategray;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to right, white, #516395);
    font-size: 30px;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    padding-right: 400px;
}

header a {
    list-style-type: none;
    margin-left: 50px;
    padding-right: 10px;
    color: black;
    text-decoration: none;
}

a:hover {
    color: orangered;

}

.me {
    width: 100%;
    height: 40px;
    margin: 5px;
    font-size: 35px;
    color: orangered;
    flex-wrap: wrap;
    text-align: center;
}

.card-1 {
    width: 95%;
    height: 85%;
    margin-top: 50px;
    background-color: white;
    margin: 35px;
    padding: 10px;
    border-radius: 10px;
}

p {
    padding: 10px;
    font-size: 17px;
    word-spacing: 3px;
    margin: 5px;
    margin-bottom: 0;
}

span {
    color: orangered;
    font-size: 20px;
}