html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(25, 36, 48);
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to right, white, #516395);
    font-size: 30px;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    padding-right: 400px;
}

header a {
    list-style-type: none;
    margin-left: 50px;
    padding-right: 10px;
    color: black;
    text-decoration: none;
}

a:hover {
    color: orangered;

}

.edu {
    text-align: center;
    font-size: 30px;
    color: orangered;
}

h2 {
    margin: 5px;
}

p {
    text-align: center;
    margin: 5px;
    color: orangered;
    font-size: 30px;
}

.card-1 {
    width: 90%;
    height: 40%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 40px;
    box-shadow: 0 0 10px purple, 0 0 10px purple;
    animation: glow-border 1s infinite alternate;
}

.card-2 {
    width: 90%;
    height: 40%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 40px;
    box-shadow: 0 0 10px purple, 0 0 10px purple;
    animation: glow-border 1s infinite alternate;
}

.card-3 {
    width: 91%;
    height: 40%;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 40px;
    box-shadow: 0 0 10px purple, 0 0 10px purple;
    animation: glow-border 1s infinite alternate;
}