html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    background-color: lightslategray;
    align-items: center;
}

header {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to right, white, #516395);
    font-size: 30px;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    padding-right: 400px;
}

header a {
    list-style-type: none;
    margin-left: 50px;
    padding-right: 10px;
    color: black;
    text-decoration: none;
}

a:hover {
    color: orangered;

}

.card {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card1 {
    width: 230px;
    height: 220px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px;
    padding: 10px;
    margin-left: 100px;
    padding-top: 0;
    box-shadow: 0 0 20px purple, 0 0 40px purple;
    animation: glow-border 1.5s infinite alternate;
}

.card3:hover,
.card2:hover,
.card1:hover {
    box-shadow: 0 0 40px black;
}

h1 {
    margin: 0;
    padding-top: 18px;
    text-align: center;
    font-size: 35px;
}

.card2 {
    width: 230px;
    height: 220px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    padding-top: 0;
    box-shadow: 0 0 20px purple, 0 0 40px purple;
    animation: glow-border 1.5s infinite alternate;
}

.card3 {
    width: 230px;
    height: 220px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    padding-top: 0;
    box-shadow: 0 0 20px purple, 0 0 40px purple;
    animation: glow-border 1.5s infinite alternate;
}

li {
    font-size: 25px;
    list-style: none;
}

h2 {
    font-size: 20px;
    color: orangered;
}