html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);

}

a {
    color: #9d9d9d;
    text-decoration: none;
}

.side {
    display: flex;
    justify-content: end;
    color: #9d9d9d;
    font-size: large;
    gap: 37px;
    padding-top: 7px;
    padding-right: 10px;
}

a:hover {
    color: #ffff;
}



.container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;

}

.details {

    margin-top: 40px;
    width: 28%;
    text-align: center;
}

h2,
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #aeaeae;
}