html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.category {
    font-size: 12px;
    color: #030303;
    margin: 0;
}

.ratings {
    bottom: 10px;
    right: 10px;
}

.product-img {
    height: 300px;
    object-fit: contain;
}