html,
body {
  width: 100%;
  height: 100%;
  padding: 0%;
  margin: 0%;
}
.box1 {
  height: 50px;
  width: 100%;
}
.block {
  background-color: rgb(45, 50, 55);
}
.btn {
  width: 100px;
  height: 23px;
  background-color: white;
  text-align: center;
}
