html,
body {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  font-family: poppins;
  background: #f2f3f2;
  background: linear-gradient(
    90deg,
    rgba(242, 243, 242, 1) 30%,
    rgba(255, 255, 255, 1) 30%
  );
}
* {
  margin: 0%;
  padding: 0%;
}
.container {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
}
.head {
  flex-direction: row;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
}
.top {
  position: absolute;
  left: 900px;
  top: -32px;
}
.down {
  position: absolute;
  left: 1150px;
  top: -5px;
}
.h1 {
  margin-left: 40px;
  margin-top: 30px;
  color: #304258;
  font-weight: bolder;
  font-size: 135px;
  line-height: 140px;
}
.line {
  text-align: right;
  padding-top: 20px;
}
.line1,
.line3,
.line5 {
  color: #304258;
  font-size: 40px;
  font-weight: bolder;
}
.line2,
.line4,
.line6 {
  color: #304258;
  font-size: 15px;
}
.line1,
.line2 {
  padding-right: 400px;
}
.line3,
.line4 {
  padding-right: 600px;
}
.line5,
.line6 {
  padding-right: 800px;
}
.footer {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 100px;
}
