<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./template3.css" />
    <link rel="stylesheet" href="/shashank/practice/stylesheet.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="head d-flex jc-sb">
      <p class="num">04</p>
      <img class="small" src="/shashank/images/small circle.png" alt="" />
      <img class="top" src="/shashank/images/Titik-titi1k.png" alt="" />
      <img class="down" src="/shashank/images/Titik-titi2k.png" alt="" />
    </div>
    <p class="h1">Resources <br />Needed</p>
    <div class="line">
      <p class="line1">01</p>
      <p class="line2">Domain and hosting</p>
    </div>
    <div class="line">
      <p class="line3">02</p>
      <p class="line4">Official company brand assets</p>
    </div>
    <div class="line">
      <p class="line5">03</p>
      <p class="line6">Content that will be published</p>
    </div>
    <div class="footer d-flex jc-sb">
      <p>hi@hanihusam.com</p>
      <p>@bapak2developer</p>
    </div>
  </body>
</html>
