<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheet.css" />
    <link rel="stylesheet" href="./template1.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="c-1"></div>
      <div class="c-2"></div>
      <div class="c-3"></div>
      <div class="head d-flex jc-sb">
        <p class="num">04</p>
        <img class="small" src="/shashank/images/small circle.png" alt="" />
      </div>
      <div class="bg-section">
        <div class="circle circle-1">
          <div class="circle-2 circle">
            <div class="circle-3 circle">
              <div class="circle-4 circle"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex jc-sb">
        <div class="left-section">
          <p class="m-0 heading">The <br />Problem</p>
        </div>
        <div class="right-section">
          <p class="m-0 heading2"><b>The Company</b></p>
          <p class="m-0 mt-3 text">
            wants to build a website with a company profile and an information
            portal for foundations and institutions that fall under them.
          </p>
          <p class="m-0 mt-3 text">
            has a user-friendly, responsive/adaptive interface on all devices,
            and already supports SEO requirements.
          </p>
        </div>
      </div>
      <div class="foot d-flex jc-sb" style="text-decoration: underline">
        <p>hi@hanihusam.com></p>
        <p>@bapak2developer</p>
      </div>
    </div>
  </body>
</html>
