body,
html {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  font-family: poppins;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
.head {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
.container {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}
.c-1 {
  width: 533px;
  height: 533px;
  position: relative;
  right: 857px;
  top: -173px;
}
.headind {
  width: 655px;
  height: 280px;
  font-size: 80px;
  margin-left: 40px;
  line-height: 80px;
  color: #304258;
}
.samll {
  width: 60px;
  height: 60px;
}
.left {
  flex-direction: column;
}
.boxes {
  margin-top: 70px;
}
.SEO,
.template,
.word {
  width: 25%;
  height: 300px;
  margin-left: 20px;
  border-top: 5px solid #e6813e;
  color: #6e7885;
  background-color: #ffffff;
  padding: 20px;
}
.b2 {
  font-weight: bold;
  font-size: 35px;
  width: 316.67px;
  height: 60px;
}
.b2 + p {
  padding-top: 16px;
  font-size: 18px;
  color: #6e7885;
  line-height: 30px;
  word-spacing: 2px;
}
.footer {
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
}
.circle1 {
  position: absolute;
  left: 550px;
  top: -10px;
}
.circle2 {
  position: absolute;
  left: 1054px;
  top: 55px;
}
.circle3 {
  position: absolute;
  left: 1320px;
  top: 139px;
}
