html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 98%;
    background-color: lightslategrey;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
}


.card-1 {
    width: 97%;
    height: 25%;
    background-color: rgb(230, 230, 214);

    margin-top: 60px;
    margin-left: 20px;
    padding: 1px;
    border-radius: 20px;
    animation: glow-border 1.5s infinite alternate;
    box-shadow: 0px 0px 10px purple, 0 0 20px purple;
}

h1 {
    text-align: center;
    color: orangered;
}

span {
    color: orangered;
    margin-right: 5px;
    margin-left: 5px;
}

.qualification {
    color: black;
    display: flex;
    justify-content: center;
}

h3 {
    padding-left: 20px;
}

.card-2 {
    width: 97%;
    height: 25%;
    background-color: rgb(230, 230, 214);
}