html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: darkblue;
}

.container {
    padding: 32px;

}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-1 {
    width: 450px;
    height: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
}

button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: blueviolet;
    font-weight: bold;
}