html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

#container {
    width: 100%;
    height: 100%;
    background-color: rgb(180, 237, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 4px;
    font-weight: 900;
    color: #222222;
    text-align: left;
}

#heart {
    width: 50px;
    height: 50px;
    background-image: url(./heart.png);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}