Rhtml,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
}

.schedule1 {
    width: 40%;
    height: 100%;
    background-color: white;
}

.schedule2 {
    width: 60%;
    height: 100%;
    background-color: #F2F3F2;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 72px;
    color: #304258;
    position: relative;
    top: 10px;
}

.non-working {
    font-size: 40px;
    height: 40px;
    color: #304258;
}

.working {
    font-size: 40px;
    height: 40px;
    color: #304258;
}

.hrr {
    margin-top: 0;
    position: relative;
    bottom: 25px;
}


.ticket {
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 85px;
    margin: 0;
    color: #6E7885;
}

.ket {
    width: 126px;
    height: 60px;
}

h2 {
    margin: 0;
}

p {
    font-size: 14px;
    padding-left: 80px;
    color: #6E7885;
}

.non {
    display: flex;
    padding-left: 80px;
}


.work {
    display: flex;
    padding-left: 80px;
}

.list {
    width: 541px;
    font-size: 24px;
    height: 24px;
    padding-left: 140px;
    color: #6E7885;
    list-style-type: none;
}

.list li {
    padding-left: 20px;
}

.lists {
    font-size: 24px;
    height: 24px;
    position: relative;
    bottom: 40px;
    padding-left: 610px;
    color: #6E7885;
    list-style: none;
}

.lists li {
    padding-bottom: 40px;
}

.hr {
    width: 541px;
    position: relative;
    margin: 20px;
    margin-top: 24px;
    color: #304258;
}

.order {
    display: flex;
}

.day {
    width: 264px;
    height: 60px;
}

tr {
    font-size: 24px;
    width: 289px;
    height: 24px;
    padding-left: 110px;
    color: #6E7885;

}