html,
body {
  width: 100%;
  height: 100%;
  padding: 0%;
  margin: 0%;
}
.rigth-section {
  background-color: black;
}
.todo-section {
  background-color: #323032;
}
.left-section {
  background-color: #323032;
}
.card-0 {
  background-color: hsl(273, 13%, 30%);
}
button {
  background-color: #45455a86;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.row {
  height: 600px;
}
.btn-1:hover {
  background-color: #aeaee3;
}
.title {
  height: 35px;
}
.btn-2 {
  background-color: rgb(10, 53, 10);
  border-radius: 10px;
  padding: 10px;
}
.btn-3 {
  background-color: rgb(121, 38, 38);
  border-radius: 10px;
  padding: 10px;
  margin-left: 5px;
}
