html,
body {
    width: 100%;
    height: 100%;
    background: #f9f9f9;
}

header {
    width: 100%;
    background: #fff;
    padding: 10px 60px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;

}

.logo img {
    width: 80px;
    height: 80px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: 400;
}