html,
body {
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    background-color: black;
}

.container {
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 5px;
}



.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.card {
    height: 240px;
    background-color: #3e3e3e;
    border-radius: 20px;
    margin: 15px;
}

.card1 {
    background-color: #720e9e;
    height: 400px;
    border-radius: 20px;
    margin: 40px;
}

.card2 {
    background-color: #3e3e3e;
    height: 385px;
    border-radius: 20px;
}