html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
}

* {
    box-sizing: border-box;
}

.container {
    padding: 0;
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;



}

.col {
    padding: 0 5px;
    margin-bottom: 10px;

}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.total {
    height: 100px;
    background-color: #e3617b;
    border-radius: 20px;

}

.order {
    height: 100px;
    background-color: #e68865;
    border-radius: 20px;

}

.sold {
    height: 100px;
    background-color: #6ef06e;
    border-radius: 20px;

}

.customers {
    height: 100px;
    background-color: #e859e8;
    border-radius: 20px;

}

.block {
    height: 180px;
    background-color: whitesmoke;
    border-radius: 20px;
    margin-bottom: 10px;
}

.block1 {
    height: 180px;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(82, 16, 214, 1) 45%, rgba(2, 156, 188, 1) 100%);
    border-radius: 20px;
    margin: 10px;
}