html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
}

.container {
    padding: 0;
    width: 100%;
    height: 100%;
}

.col {
    padding: 5px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.card {
    height: 150px;
    background-color: #3c3ce5;
    border-radius: 10px;
}

.card1 {
    height: 150px;
    background-color: #ee855f;
    border-radius: 10px;
}

.card2 {
    height: 150px;
    background-color: #4cf1a6;
    border-radius: 10px;
}

.card3 {
    height: 150px;
    background-color: #ade645;
    border-radius: 10px;
}

.card4 {
    height: 60px;
    background-color: azure;
    border-radius: 10px;

}

.card5 {
    height: 90px;
    background-color: #a7a7ef;
    border-radius: 10px;

}

.card6 {
    height: 350px;
    background-color: #a7a7ef;
    border-radius: 10px;

}

.block {
    background-color: whitesmoke;
    height: 100%;
    border-radius: 10px;

}