html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col {
    padding: 5px;

}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;

}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;

}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;

}

.views {
    background-color: #8686e1;
    border-radius: 20px;
    height: 120px;
}

.visits {
    background-color: #de5ede;
    border-radius: 20px;
    height: 120px;
}

.new {
    background-color: #dede7b;
    border-radius: 20px;
    height: 120px;
}

.active {
    background-color: #de5ede;
    border-radius: 20px;
    height: 120px;
}

.card-1 {
    height: 380px;
    background-color: #3e3e3e;
    border-radius: 20px;
}

.card-2 {
    height: 120px;
    background-color: #3e3e3e;
    border-radius: 20px;
}

.card-3 {
    height: 100px;
    background-color: #3e3e3e;
    border-radius: 20px;
}

.card-4 {
    height: 390px;
    background-color: #3e3e3e;
    border-radius: 20px;
}