html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0cm;
    border-radius: 20px;

}



.col1 {
    width: 70%;
    background-color: #235284;
    color: white;
}

.space {
    flex-direction: column;
    padding-left: 100px;
    background: rgb(2, 0, 36);
    background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);

}

.space button {
    width: 150px;
    height: 38px;
    border-radius: 20px;
    background-color: rgba(0, 212, 255, 1);
    color: white;
    border: none;
    margin-top: 15px;

}

.space h1 {
    font-size: 38px;
    font-weight: bolder;
    margin: 0px;
}

.space p {
    font-size: 18px;
    font-weight: 400;
    margin: 3px;
    color: white;
}

.col2 {
    width: 30%;
    align-content: center;


}

.space2 {

    flex-direction: column;

}

.font {
    margin-bottom: 30px;
    margin-top: 15px;
    padding-right: 30px;
    padding-left: 50px;
}

.font h1 {
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 6px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.font p {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    color: black;
    padding-right: 140px;
}

input {
    width: 190px;
    height: 24px;
    background-color: white;
    border-radius: 20px;
    padding-left: 20px;
    border: 3px solid lightgray
}

p {
    color: gray;
}

button {
    width: 210px;
    height: 30px;
    background-color: rgb(40, 40, 221);
    border-radius: 20px;
    color: white;
    border: transparent;
}