html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0cm;
    border-radius: 20px;

}

.w-0 {
    width: 0%;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.h-0 {
    height: 0%
}

.h-25 {
    height: 25%;
}

.h-50 {
    height: 50%;
}

.h-75 {
    height: 75%;
}

.h-100 {
    height: 100%;
}

.m-0 {
    margin: 0px;
}

.m-1 {
    margin: 4px;
}

.m-2 {
    margin: 8px;
}

.m-3 {
    margin: 16px;
}

.m-4 {
    margin: 32px;
}

.m-5 {
    margin: 48px;
}

.m-auto {
    margin: auto;
}

.m-0 {
    margin: 0px;
}

.mt-1 {
    margin: 4px;
}

.mt-2 {


    margin-top: 8px;
}

.mt-3 {
    margin-top: 16px;
}

.mt-4 {
    margin-top: 32px;
}

.mt-5 {
    margin-top: 48px;
}

.mt-auto {
    margin-top: auto;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 4px;
}

.mb-2 {
    margin-bottom: 8px;
}

.mb-3 {
    margin-bottom: 16px;
}

.mb-4 {
    margin-bottom: 32px;
}

.mb-5 {
    margin-bottom: 48px;
}

.mb-auto {
    margin-bottom: auto;
}

.ml-0 {
    margin-left: 0;
}

.ml-1 {
    margin-left: 4px;
}

.ml-2 {
    margin-left: 8px;
}

.ml-3 {
    margin-left: 16px;
}

.ml-4 {
    margin-left: 32px;
}

.ml-5 {
    margin-left: 48px;
}

.ml-auto {
    margin-left: auto;
}

.mr-0 {
    margin-right: 0;
}

.mr-1 {
    margin-right: 4px;
}

.mr-2 {
    margin-right: 8px;
}

.mr-3 {
    margin-right: 16px;
}

.mr-4 {
    margin-right: 32px;
}

.mr-5 {
    margin-right: 48px;
}

.mr-auto {
    margin-right: auto;
}

.p-0 {
    padding: 0px;
}

.p-1 {
    padding: 4px;
}

.p-2 {
    padding: 8px;
}

.p-3 {
    padding: 16px;
}

.p-4 {
    padding: 32px;
}

.p-5 {
    padding: 48px;
}

.p-auto {
    padding: auto;
}

.p-0 {
    padding: 0px;
}

.pt-1 {
    padding: 4px;
}

.pt-2 {


    padding-top: 8px;
}

.pt-3 {
    padding-top: 16px;
}

.pt-4 {
    padding-top: 32px;
}

.pt-5 {
    padding-top: 48px;
}

.pt-auto {
    padding-top: auto;
}

.pb-0 {
    padding-bottom: 0;
}

.pb-1 {
    padding-bottom: 4px;
}

.pb-2 {
    padding-bottom: 8px;
}

.pb-3 {
    padding-bottom: 16px;
}

.pb-4 {
    padding-bottom: 32px;
}

.pb-5 {
    padding-bottom: 48px;
}

.pb-auto {
    padding-bottom: auto;
}

.pl-0 {
    padding-left: 0;
}

.pl-1 {
    padding-left: 4px;
}

.pl-2 {
    padding-left: 8px;
}

.pl-3 {
    padding-left: 16px;
}

.pl-4 {
    padding-left: 32px;
}

.pl-5 {
    padding-left: 48px;
}

.pl-auto {
    padding-left: auto;
}

.pr-0 {
    padding-right: 0;
}

.pr-1 {
    padding-right: 4px;
}

.pr-2 {
    padding-right: 8px;
}

.pr-3 {
    padding-right: 16px;
}

.pr-4 {
    padding-right: 32px;
}

.pr-5 {
    padding-right: 48px;
}

.pr-auto {
    padding-right: auto;
}

.jc-center {
    justify-content: center;
}

.jc-around {
    justify-content: space-around;
}

.jc-between {
    justify-content: space-between;
}

.jc-start {
    justify-content: flex-start;
}

.jc-end {
    justify-content: flex-end;
}

.ai-center {
    align-items: center;
}

.ai-baseline {
    align-items: baseline;
}

.ai-start {
    align-items: start;
}

.ai-end {
    align-items: end;
}

.bg-white {
    background-color: #ffffff;
}

.bg-dark {
    background-color: #0d0909;
}

.bg-light {
    background-color: #a1a1a1;
}

.bg-danger {
    background-color: #e50a0a;
}

.bg-warning {
    background-color: #ff4500;
}

.bg-success {
    background-color: #03af03;
}

.bg-primary {
    background-color: #000073;
}

.d-flex {
    display: flex;
}

.d-inline {
    display: inline;
}

.f-wrap {
    flex-wrap: wrap;
}

.border-none {
    border: none;
    border-style: solid;
}

.border-1 {
    border: 4px;
}

.border-2 {
    border: 8px;

}

.radius-1 {
    border-radius: 4px;
}

.radius-2 {
    border-radius: 8px;
}

.radius-3 {
    border-radius: 16px;
}

.radius-4 {
    border-radius: 20px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;

}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;

}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;

}