html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
    background-color: #aedbff;
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    flex: 1;
    height: calc(100vh - 200px);
}

main {
    background-color: orangered;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    width: 270px;
    background-color: orange;
}

header,
footer {
    height: 100px;
    background-color: #112233;
}

.box {
    width: 500px;
    height: 500px;
    background-color: #fff;
}

/* 
Extra small None <576px 
Small sm ≥576px 
Medium md ≥768px 
Large lg ≥992px 
Extra large xl ≥1200px 
Extra extra large xxl ≥1400px
*/

/* XS */
@media (max-width: 575px) {
    .box {
        width: 50px;
        height: 50px;
    }

    .content {
        flex-direction: column;
    }

    aside {
        width: 100vw;
        height: 50px;
    }
}

/* SM */
@media (min-width: 576px) and (max-width: 767px) {
    .box {
        width: 100px;
        height: 100px;
    }

    .content {
        flex-direction: column;
    }

    aside {
        width: 100vw;
        height: 50px;
    }
}

/* MD */
@media (min-width: 768px) and (max-width: 991px) {
    .box {
        width: 200px;
        height: 200px;
    }

    .content {
        flex-direction: column;
    }

    aside {
        width: 100vw;
        height: 50px;
    }
}

/* LG */
@media (min-width: 992px) and (max-width: 1199px) {
    .box {
        width: 300px;
        height: 300px;
    }
}

/* XL */
@media (min-width: 1200px) and (max-width: 1399px) {
    .box {
        width: 400px;
        height: 400px;
    }
}

/* XXL */
@media (min-width: 1400px) {
    .box {
        width: 500px;
        height: 500px;
    }
}