html,
body {
  width: 100%;
  height: 100%;
  padding: 0%;
  margin: 0%;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
}
form {
  padding: 20px;
  width: 400px;
  height: 400px;
  background-color: #a7c1a8;
  border-radius: 15px;
}
.left-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #819a91;
}
.rigth-section {
  width: 50%;
  height: 100%;
  background-color: rgb(245, 245, 245);
}
.h1 {
  font-size: 30px;
  margin: 0%;
  text-align: center;
  padding-top: 15px;
}
.h3 {
  font-size: 15px;
  margin: 0%;
  padding-top: 10px;
  text-decoration: overline;
  text-align: center;
}
label {
  width: 100%;
  display: flex;
  margin-left: 50px;
  padding: 10px;
}
input {
  width: 70%;
  height: 20px;
  border-radius: 5px;
  border: none;
  margin-left: 50px;
}
textarea {
  margin-left: 50px;
  width: 70%;
  height: 120px;
  border-radius: 5px;
  border: none;
}
.btn-1 {
  width: 80px;
  height: 30px;
  margin-left: 50px;
  margin-top: 20px;
  background-color: #d1d8be;
  border-radius: 10px;
  border: none;
  color: black;
  cursor: pointer;
}
.btn-2 {
  width: 80px;
  height: 30px;
  margin-top: 20px;
  background-color: #d1d8be;
  border-radius: 10px;
  border: none;
  color: black;
  cursor: pointer;
}
.todo-section {
  background-color: #d1d8be;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
}
.btn {
  border-radius: 10px;
  width: 70px;
  height: 30px;
  border: none;
  background-color: #eeefe0;
}
