html,
body {
  height: 100%;
  width: 100%;
  padding: 0%;
  margin: 0%;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
.row {
  width: 100%;
  height: 100%;
  display: flex;
}
.col1 {
  padding-left: 150px;
  background-color: #10079f;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
}
.details h1 {
  color: white;
  font-size: 40px;
  font-weight: 40px;
  margin: 0%;
  font-family: fantasy;
  font-weight: 50;
  letter-spacing: 2.5px;
}
.details p {
  color: white;
  margin-top: 10px;
  font-size: 21px;
  font-family: fantasy;
  font-weight: 50;
  letter-spacing: 2.5px;
}
.details button {
  color: white;
  background-color: #0e69d1;
  border-radius: 15px;
  width: 125px;
  height: 30px;
  border-style: hidden;
  font-weight: 50;
  font-family: fantasy;
  letter-spacing: 2.5px;
}
.col2 {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginpg h1 {
  color: black;
  font-size: 30px;
  font-weight: 40px;
  margin: 0%;
  font-family: fantasy;
  font-weight: 50;
  letter-spacing: 2.5px;
}
.loginpg p {
  color: black;
  font-size: 15px;
  font-weight: 10px;
  margin-top: 10px;
  letter-spacing: 2.5px;
}
.form {
  border-radius: 25px;
  margin-bottom: 10px;
  height: 35px;
  width: 250px;
  border-color: lightgray;
  border-style: groove;
  text-align: center;
}
.form1 {
  border-radius: 25px;
  margin-bottom: 10px;
  height: 35px;
  width: 250px;
  border-style: groove;
  border-color: lightgrey;
  text-align: center;
}
.loginpg button {
  color: white;
  background-color: #0e69d1;
  border-radius: 25px;
  width: 260px;
  height: 35px;
  border-style: hidden;
  margin-top: 10px;
}
.opt {
  text-align: center;
  margin-top: 10px;
}
