* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  list-style: none;
  text-decoration: none;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  background-color: rgb(45, 43, 43);
  background-image: url(/imgs/Saly-16.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 1200px;
  background-position: right;
  position: fixed;
}
header {
  width: 100%;
}
.navigation-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 50px;
  align-items: center;
}
.navigation-bar a {
  color: white;
}
.navigation-rigth {
  display: flex;
}
.navigation-rigth a {
  padding-left: 85px;
  font-family: poppins;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-size: xx-large;
  font-weight: 700;
  font: bold;
}
.box {
  width: 700px;
  height: 394px;
  padding-top: 340px;
}
h1 {
  color: white;
  font-size: 40px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-family: poppins;
}
p {
  color: white;
  font-size: 35px;
  width: 670px;
  padding-left: 20px;
  font-family: poppins;
}
