html,body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}
.plant{
   
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.tree{  
    border-radius: 30px;  
}
.branch1{
    width: 100%;
    height: 150px;
  background-color:pink ;
}
.branch2{
    width: 49%;
    height: 150px;
    background-color:black ;
  }
  .branch3{
    width: 50%;
    height: 150px;
    background-color:yellow ;
  }
  .branch4{
    width: 100%;
    height: 100px;
    background-color:beige ;
  }
  .branch5{
    width: 100%;
    height: 100px;
    background-color:maroon ;
  }
  .branch6{
    width: 33.3%;
    height: 150px;
    background-color:blue ;
  }
  .branch7{
    width: 33.3%;
    height: 150px;
    background-color:skyblue ;
  }
  .branch8{
    width: 33.3%;
    height: 150px;
    background-color:grey ;
  }
  .branch9{
    width: 50%;
    height: 150px;
    background-color:green ;
  }
  .branch10{
    width: 49%;
    height: 150px;
    background-color:greenyellow ;
  }
  