html,body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}
.plant{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.tree{
    height: 20%;  
    border-radius: 30px;
    width: 30%;
}
.branch1{
  background-color:pink ;
}
.branch2{
    background-color:black ;
  }
  .branch3{
    background-color:yellow ;
  }
  .branch4{
    background-color:beige ;
  }
  .branch5{
    background-color:maroon ;
  }
  .branch6{
    background-color:blue ;
  }
  .branch7{
    background-color:skyblue ;
  }
  .branch8{
    background-color:grey ;
  }
  .branch9{
    background-color:green ;
  }
  .branch10{
    background-color:greenyellow ;
  }
  .branch11{
    background-color:salmon ;
  }
  .branch12{
    background-color:silver ;
  }
  .branch13{
    background-color: khaki;
  }
  .branch14{
    background-color:rebeccapurple ;
  }
  .branch15{
    background-color: violet;
  }
                            
