html,
body {
    background-color: purple;
    margin: 0;
    padding: 0;
    width: 100%;
    height: -100%;
}

.chandu {
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box {
    width: 200px;
    height: 200px;
    border-radius: 30px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300px;
    color: aliceblue;
    text-align: center;
    font-size: 50px;
    justify-content: center;
}

.lime {

    background-color: lime;

}

.blueviolet {
    
    background-color: brown;
   
}

.white {


    background-color: white;
}

.green {

    background-color: green;

}

.black {

    background-color: black;

}

.darkblue {

    background-color: darkblue;

}

.maroon {

    background-color: maroon;

}

.skyblue {

    background-color: skyblue;

}

.gold {

    background-color: gold;

}

.firebrick {

    background-color: firebrick;

}

.fuchsia {

    background-color: fuchsia;

}

.burlywood {

    background-color: burlywood;

}