html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    
}
.plant{
    align-items: center;
    justify-content: center;

}

.tree {
    display: inline-block;
    border-radius: 30px;
}
.branch1 {
    width:40%;
    height: 150px;
    background-color: pink;   
}

.branch2 {
    width:40%;
    height: 145px;
    background-color: black;
}

.branch3 {
    width:40%;
    height: 150px;
    background-color: yellow;
}

.branch4 {
    width: 40%;
    height: 150px;
    background-color: violet;
}

.branch5 {
    width:40%;
    height: 150px;
    background-color: maroon;
}

.branch6 {
    width: 40%;
    height: 150px;
    background-color: blue;
}

.branch7 {
    width: 40%;
    height: 150px;
    background-color: skyblue;
}

.branch8 {
    width: 40%;
    height: 150px;
    background-color: grey;
}

.branch9 {
    width: 40%;
    height: 150px;
    background-color: green;
}

.branch10 {
    width: 40%;
    height: 150px;
    background-color: greenyellow;
}

