html,
body {
  background: linear-gradient(45deg, red, grey, black);
  width: 100%;
  height: 100%;
  margin: 0;
}

.profile {
  border-radius: 40px;
}


h3 {
  margin: 0;
  margin-top: 10px;
}

p {
  margin: 0;
  margin-bottom: 20px;
}