html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

.parent {
    display: flex;
    flex-wrap: wrap;
}

.child {
    justify-content: center;
    height: 200px;
}


.boy1 {
    width: 50%;
    background-color:blanchedalmond;
}

.boy2 {
    width: 50%;
    background-color: lime
}

.boy3 {
    width: 25%;
    background-color: yellow;
}

.boy4 {
    width: 25%;
    background-color: violet;

}

.boy5 {
    width: 25%;
    background-color: blue;

}

.boy6 {
    width: 25%;
    background-color: blueviolet;

}

.boy7 {
    width: 33.33%;
    background-color: black;

}

.boy8 {
    width: 33.33%;
    background-color: grey;

}

.boy9 {
    width: 33.33%;
    background-color: red;

}