html,body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}
.plant{
   
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.tree{
     
    border-radius: 30px;
    
}
.branch1{
    width: 50%;
    height: 150px;
  background-color:pink ;
}
.branch2{
    width: 49%;
    height: 150px;
    background-color:black ;
  }
  .branch3{
    width: 10%;
    height: 150px;
    background-color:yellow ;
  }
  .branch4{
    width: 10%;
    height: 150px;
    background-color:beige ;
  }
  .branch5{
    width: 10%;
    height: 150px;
    background-color:maroon ;
  }
  .branch6{
    width: 10%;
    height: 150px;
    background-color:blue ;
  }
  .branch7{
    width: 10%;
    height: 150px;
    background-color:skyblue ;
  }
  .branch8{
    width: 10%;
    height: 150px;
    background-color:grey ;
  }
  .branch9{
    width: 10%;
    height: 150px;
    background-color:green ;
  }
  .branch10{
    width: 10%;
    height: 150px;
    background-color:greenyellow ;
  }
  .branch11{
    width: 10%;
    height: 150px;
    background-color:salmon ;
  }
  .branch12{
    width: 10%;
    height: 150px;
    background-color:silver ;
  }
  .branch13{
    width: 25%;
    height: 150px;
    background-color: khaki;
  }
  .branch14{
    width: 25%;
    height: 150px;
    background-color:rebeccapurple ;
  }
  .branch15{
    width: 25%;
    height: 150px;
    background-color: violet;
  }
  .branch16{
    width: 25%;
    height: 150px;
    background-color: gray;
  }
  .branch17{
    width: 25%;
    height: 150px;
    background-color: brown;
  }
  .branch18{
    width: 49%;
    height: 150px;
    background-color: gold;
  }
  .branch19{
    width: 25%;
    height: 150px;
    background-color: peru;
  }
  .branch20{
    width: 49%;
    height: 150px;
    background-color: red;
  }
  .branch21{
    width: 25%;
    height: 150px;
    background-color: orangered;
  }
  .branch22{
    width: 25%;
    height: 150px;
    background-color: orchid;
  }