html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.tree {
    display: inline-block;
    border-radius: 30px;
    align-items:stretch;    
}

.branch1 {
    width: 100%;
    height: 150px;
    background-color: pink;
}

.branch2 {
    width: 50%;
    height: 145px;
    background-color: black;
}

.branch3 {
    width: 48%;
    height: 150px;
    background-color: yellow;
}

.branch4 {
    width: 25%;
    height: 150px;
    background-color: violet;
}

.branch5 {
    width: 25%;
    height: 150px;
    background-color: maroon;
}

.branch6 {
    width: 25%;
    height: 150px;
    background-color: blue;
}

.branch7 {
    width: 23%;
    height: 150px;
    background-color: skyblue;
}

.branch8 {
    width: 33.3%;
    height: 150px;
    background-color: grey;
}

.branch9 {
    width: 33.3%;
    height: 150px;
    background-color: green;
}

.branch10 {
    width: 32.3%;
    height: 150px;
    background-color: greenyellow;
}

