html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;

}

.row {
    width: 100%;
    height: 100%;
    display: flex;

}

.col1 {
    width: 60%;
    height: 100%;
    background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    align-content: center;
    padding-left: 100px;
}

.col2 {
    width: 40%;
    height: 100%;
    background-color: aliceblue;
    align-items: center;
    align-content: center;
    justify-items: center;

}
h2,h1{
margin: 0;
}

.cha {
 color: white;
}


.class{
     width: 150px;
    height: 30px;   
    border: none;
    border-radius: 10px;
    background:blue;
    color: aliceblue;
}
.in1{
    height: 25px;
    width: 190px;
    border-radius: 10px;
    border: none;
    font-size:10px ;
}
.in2{
    height: 25px;
    width: 190px;
    border-radius: 10px;
    margin-top: 10px;
    border: none;
    font-size:10px ;
}
.but{
    height: 25px;
    width: 190px;
    border-radius: 10px;
    background-color: blue;
    color: aliceblue;
    margin-top: 25px;
    border: none;
}
.yadav{
    padding-top: 10px;
}
p{
margin: 0;
}
.anchor{
    font-size: 13px;

    
}
.pack{
    margin-top: ;
}