html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    height: 200px !important;
    width: 400px;
    border-radius: 25px !important;
    padding: 16px;
    background-color: #fbe0d8 !important;
}

.card-icon {
    width: 80px;
    height: 80px;
    background-color: #fff;
    display: grid;
    place-items: center;
}