html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;


}

.container {
    height: 100%;
    width: 100%;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 500px;
    height: 600px;
    background-color: #ffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;



}

.p {
    font-size: 28px;

}

.input {
    width: 425px;
    height: 35px;
    border-radius: 15px;
    border: solid 2px;
    margin-bottom: 15px;
    padding-left: 15px;
}

.btn {
    width: 375px;
    height: 35px;
    border-radius: 15px;
    background-color: rgb(110, 110, 246);
    color: #ffff;
    border: solid 2px;
    text-align: center;

}