html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}




.col2 {
    width: 40%;
    height: 100%;
    background-color: aliceblue;
    align-items: center;
    align-content: center;
    justify-items: center;

}

h2,
h1 {
    margin: 0;
}

.cha {
    color: white;
}


.class {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background: blue;
    color: aliceblue;
}

.in1 {
    height: 25px;
    width: 190px;
    border-radius: 10px;
    border: none;
    font-size: 10px;
}

.in2 {
    height: 25px;
    width: 190px;
    border-radius: 10px;
    margin-top: 10px;
    border: none;
    font-size: 10px;
}

.but {
    height: 28px;
    width: 190px;
    border-radius: 8px;
    background-color: blue;
    color: aliceblue;
    margin-top: 25px;
    border: none;
}

.yadav {
    padding-top: 10px;
}

p {
    margin: 0;
}

.anchor {
    font-size: 13px;


}