.container {
    padding-top: 100px;
}

.chandu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.h5 {
    color: #c4b4b4;
    height: 30px;
}

.card {
    width: 350px;
    height: 400px;
    background-color: #f2f2f2;
}

.h3 {
    font-weight: bolder;
    color: black;
    padding-left: 10px;
    padding-top: 25px;
}

.p {
    font-size: small;
    color: #8e8e8e;
    padding-left: 50px;
}

input {
    width: 350px;
    height: 30px;
    background-color: white;
    border-style: solid;
    border-color: #b3b3b3;
    border-radius: 5px;
}

.h4 {
    font-weight: 600;
    height: 0;
}

.block1 p {
    display: flex;
    justify-content: flex-end;
}

.block3 input {
    background-color: #652980;
    display: flex;
    justify-content: center;
    color: white;
}