html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

.container {
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    padding: 5px;
    box-sizing: border-box;

}

.french {
    height: 120px;
    background-color: blue;
    border-radius: 20px;
}

.portugue {
    height: 120px;
    background-color: olivedrab;
    border-radius: 20px;
}

.italian {
    height: 120px;
    background-color: crimson;
    border-radius: 20px;
}

.german {
    height: 120px;
    background-color: chartreuse;
    border-radius: 20px;
}

.card {
    height: 103px;
    background-color: grey;
    border-radius: 20px;
    padding-bottom: 0;
}

.card1 {
    height: 150px;
    background-color: olive;
    border-radius: 20px;

}

.card2 {
    height: 100px;
    background-color: cornsilk;
    border-radius: 20px;

}

.card3 {
    height: 120px;
    padding-bottom: 0;
    background-color: darkcyan;
    border-radius: 20px;

}

.card4 {
    height: 150px;
    background-color: blue;
    border-radius: 20px;

}

.card5 {
    height: 280px;
    background-color: orangered;
    border-radius: 20px;

}