html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;

}

.container {
    width: 100%;
    height: 100%;

}

.row {
    display: flex;
    flex-wrap: wrap;

}

.col {
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
}


.col-8 {
    height: 210px;
    background-color: red;
}

.col-4 {
    height: 210px;
    background-color: blue;

}

.block1 {
    height: 150px;
    background-color: lightgreen;
}

.col-5 {
    height: 180px;
    background-color: blue;
}

.col-6 {
    height: 180px;
    background-color: green;
}

.card {
    height: 180px;
    background-color: yellow;
    border-radius: 10px;
}

.card1 {
    height: 180px;
    background-color: violet;
    border-radius: 10px;
}

.card2 {
    height: 180px;
    background-color: green;
    border-radius: 10px;
}

.card3 {
    height: 180px;
    background-color: orangered;
    border-radius: 10px;
}

.card4 {
    height: 180px;
    background-color: pink;
    border-radius: 10px;
}