.d-flex {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 10px;
}

.orange {
  background-color: orangered;
  border-radius: 24px;
  border: 8px solid orange;
}

.blueviolet {
  background-color: blueviolet;
  border-radius: 24px;
  border: 8px solid purple;
}

h1 {
  color: white;
  text-align: center;
}